.create-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
.create-card {
    padding: 16px;
    box-shadow: 0 1px 1px rgba(12,13,14,0.1),
                0 1px 3px rgba(12,13,14,0.1),
                0 4px 20px rgba(12,13,14,0.035),
                0 1px 1px rgba(12,13,14,0.025);
}
.create-input{
    width: 100%;
}
button{
    margin: 1em 0;
}
.create-sList button{
    width: 100%;
    text-transform: uppercase;
}
// .create-sList{
//     float: right
// }
