.sl-spacer{
    flex: 1 1 auto;
}
#mainContainer{
    box-sizing: border-box;
}
nav{
    background: #00897b;
    color: white;
}
.active{
    opacity: 1;
    outline: 0;
}
.fixed {
    position:fixed !important;
    top:0;
    left: 0;
    right: 0;
    z-index:999;
    transition:0.2s all cubic-bezier(.3,.73,.3,.74);
}
.fixedmargin{
    margin-top:50px; 
}
.container-loading{
    display: none;
}