/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$shopOn-app-primary: mat-palette($mat-teal,600);
$shopOn-app-accent:  mat-palette($mat-green, A200, A100, A400);

$shopOn-app-warn:    mat-palette($mat-red);

$shopOn-app-theme: mat-light-theme($shopOn-app-primary, $shopOn-app-accent, $shopOn-app-warn);

@include angular-material-theme($shopOn-app-theme);



$shopOff-primary: mat-palette($mat-grey);
$shopOff-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$shopOff-warn:    mat-palette($mat-deep-orange);
$shopOff-theme:   mat-light-theme($shopOff-primary, $shopOff-accent, $shopOff-warn);

.shopOf-theme {
  @include angular-material-theme($shopOff-theme);
}

.mat-ink-bar{
    background-color: #69f0ae;
}
