/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$shopOn-app-primary: mat-palette($mat-teal,600);
$shopOn-app-accent:  mat-palette($mat-green, A200, A100, A400);

$shopOn-app-warn:    mat-palette($mat-red);

$shopOn-app-theme: mat-light-theme($shopOn-app-primary, $shopOn-app-accent, $shopOn-app-warn);

@include angular-material-theme($shopOn-app-theme);



$shopOff-primary: mat-palette($mat-grey);
$shopOff-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$shopOff-warn:    mat-palette($mat-deep-orange);
$shopOff-theme:   mat-light-theme($shopOff-primary, $shopOff-accent, $shopOff-warn);

.shopOf-theme {
  @include angular-material-theme($shopOff-theme);
}

.mat-ink-bar{
    background-color: #69f0ae;
}


html {
  height: 100vh;
  max-width:100vw;
  overflow-x: hidden;
  /*box-sizing: border-box;*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
    position: relative;
    margin: 0;
    /*padding-bottom: 6rem;*/
    // min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.load-container{
    position: relative;
    display: flex;
    height:50vh;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #009688;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}